:root {
    --base-font: 'Quicksand', sans-serif;
    --monospace-font: 'Sono', sans-serif;
    --main-bg-color: #001739;
    --secondary-bg-color: #011F26;
    --main-text-color: #FFF;
    --main-highlight-color: #5DF7FF;
    /*  --secondary-highlight-color: #EE4FF2;*/
    --secondary-highlight-color: #ea557c;

}

/*---------------------*/
/* GENERAL ELEMENTS    */
/*---------------------*/

body {
    background-color: var(--main-bg-color);
    background: linear-gradient(169deg, rgb(234, 85, 124, 0.6) 0%, var(--main-bg-color) 80%, var(--main-bg-color) 100%);

    color: var(--main-text-color);
    font-family: var(--base-font);
    font-size: 1.7rem;

    /* center items on page */
    height: 100vh;
    display: flex;
    flex-flow: column;
}

h1 {
    background-color: var(--secondary-bg-color);
    margin-bottom: 1rem;
    font-weight: 300;
    text-transform: lowercase;
    padding: 2rem;
}

/*---------------------*/
/* REUSABLE CLASSES    */
/*---------------------*/
.hidden {
    display: none;
}

.selected {
    background-color: gold;
}

.flexcontainer {
    display: flex;
    justify-content: space-evenly;
}

.navigation {
    justify-content: space-between;
    width: 100%;
}

/*------------------------*/
/*     COMMON LAYOUT     */
/*------------------------*/
form, section {
    width: 80%;
    margin: 0 auto;
}

/*------------------------*/
/*     FORM ELEMENTS      */
/*------------------------*/

form {
    margin-bottom: 2rem;
}

legend, section h2 {
    background-color: var(--main-highlight-color);
    font-weight: 700;
    text-shadow: rgba(238, 79, 242, 0.5) 0.025rem 0.125rem 0.125rem;
    padding: 0.2rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.7rem;
}

label span {
    display: block;
    font-size: 0.9rem;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    padding: 1.8rem 0.3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    border: none;
    border-bottom: solid 0.125rem var(--secondary-bg-color);

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--base-font);
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::placeholder {
    color: var(--main-text-color);
}

input[type="checkbox"], input[type="checkbox"] + label, input[type="radio"], input[type="radio"] + label {
    display: inline-block;
}

input[type="checkbox"], input[type="radio"] {
    width: 3%;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    font-size: 1.5rem;
}

button {
    background-color: var(--secondary-highlight-color);
    color: var(--main-text-color);
    font-family: var(--monospace-font);
    font-size: 1.1rem;
    border: none;
    padding: 0.8rem;
    text-transform: lowercase;
    display: block;
}

/* Overrides for range components */
label[for="renewability"] {
    margin-bottom: 0.4rem;
}

input[type="range"] {
    padding: 0;
}

label.range {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: inline-block;
    padding: 0.325rem;
    border-radius: 0.6rem;
    margin: 0;
    box-shadow: rgba(238, 79, 242, 0.5) 0.20rem 0.20rem 0.125rem;
}

/*-----------------------------*/
/* Overview component          */
/*-----------------------------*/


table {
    font-size: 1rem;
    border-collapse: separate;
    border-spacing: 0 1rem;
    margin: 2rem auto 0 auto;
}

table caption {
    caption-side: top;
    font-size: 0.8rem;
}
table th {
    font-weight: 700;
}
table tr {
    margin-bottom: 1rem;
}
/* Overrides for table and table form */
table form {
    margin: 0;
    width: auto;
    text-align: right;
}
table input, table label {
    display: inline-block;
}

table button {
    font-size: 1rem;
    padding: 0.3rem;
    background-color: var(--main-highlight-color);
    color: var(--main-text-color);
}
/* Overrides for confirmation button */
#selection .next {
    margin: 0 auto;
}

/*-----------------------------*/
/* Tariff matcher component    */
/*-----------------------------*/

section .flexcontainer {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.2rem;
    justify-content: space-evenly;
}

section h2{
    display: inline-block;
    text-align: center;
    margin-bottom: 0.5rem;
}

section p, section ul {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

section li {
    margin-bottom: 0.5rem;
}

section li span {
    font-weight: 700;
    text-shadow: rgba(238, 79, 242, 0.5) 0.025rem 0.125rem 0.125rem;
}

section article {
    border: 0.125rem dashed #CCC;
    padding: 1rem;
    margin: 0 0 1rem 0;
    position: relative;
}

section article h3 {
    text-transform: capitalize;
    text-shadow: rgba(238, 79, 242, 0.5) 0.025rem 0.125rem 0.125rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

section article .details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: #CDDE47;*/
    background-color: var(--main-bg-color);
    padding: 2rem;
    min-width: 40rem;
    z-index: 100;
}
section article .details dl {
    display: flex;
    flex-flow: row wrap;
}

section article .details dd, section article .details dt {
    flex: 1 0 20rem;
    margin-bottom: 0.3rem;
}
section article a {
    background-color: var(--main-highlight-color);
    border-radius: 0.8rem;
    color: var(--main-bg-color);
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.2rem;
    box-shadow: rgba(1, 31, 38, 0.5) 0.20rem 0.20rem 0.125rem;
    position: absolute;
    top: -1rem;
    right: -1rem
}

/* Override monthly payment*/
.total-monthly {
    text-shadow: rgba(238, 79, 242, 0.5) 0.025rem 0.125rem 0.125rem;
    font-weight: 700;
}